<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>@ViewData["Title"] - Xprience</title>
   <link rel="stylesheet" href="~/css/anim.css" asp-append-version="true" />
   <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
   <link rel="icon" href="~/img/logo.png" />
</head>

<body>
   <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
   <div>
      <input type="checkbox" id="changeTheme" checked />
      <label for="changeTheme">
         <span id="sun">☀️</span>
         <span id="moon">🌙</span>
      </label>
   </div>
   <header>
      <a href='@Url.Action("IndexLogged")'>
         <img src="~/img/logo.png" alt="logo" class="logo" />
      </a>
      @if (ViewBag.logged != null && ViewBag.logged)
      {
         <nav>
            <ul>
               <li><a href='@Url.Action("CreateCategories")'>Create plan</a></li>
               <li><a href='@Url.Action("Explore")'>Explore</a></li>
               <li><a href='@Url.Action("Inspiration")'>Inspiration</a></li>
               <li><a href='@Url.Action("Calendar")'>Calendar</a></li>
               <li><a href='@Url.Action("MyPlans")'>My Plans</a></li>
            </ul>
         </nav>
         <button>
            <img
               src="https://t4.ftcdn.net/jpg/03/49/49/79/360_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.webp"
               alt="user" class="user" />
         </button>
      }
      else
      {
         <nav>
            <a href='@Url.Action("Login")' class="button2">Log in</a>
            <a href='@Url.Action("Signup")' class="button2">Sign up</a>
         </nav>
      }
   </header>
   @if (ViewBag.logged != null && ViewBag.logged)
   {
      <nav class="floatingNav">
         <img class="mainImg"
            src="https://t4.ftcdn.net/jpg/03/49/49/79/360_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.webp" alt="" />
         <div>
            <img src="https://t4.ftcdn.net/jpg/03/49/49/79/360_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.webp"
               alt="" /><a href='@Url.Action("Settings")'>Profile</a>
         </div>
         <div><img src="~/img/svg/settings.svg" alt="config" /><a
               href='@Url.Action("Settings")'>Configuration</a></div>
         @* <div>
               <img src="~/img/svg/notification.svg" alt="" /><a href=''>Notifcations</a>
            </div>
            <div>
               <img src="~/img/svg/language.svg" alt="" /><a href=''>Language</a>
            </div> *@
         <div><img src="~/img/svg/logout.svg" alt='Logout' /><a href='@Url.Action("LogOut")'>Log out</a></div>
      </nav>
   }

   <div class="container">
      <main role="main">
         @RenderBody()
      </main>
   </div>

   <footer>
      <div class="figure"></div>
      <div class="figure"></div>
      <h1>Xprience</h1>
      <div class="columns">
         <ul>
            <div>
               <li><a href='@Url.Action("CreateCategories")'>Create plan</a></li>
               <li><a href='@Url.Action("Explore")'>Explore</a></li>
               <li><a href='@Url.Action("Inspiration")'>Inspiration</a></li>
               <li><a href='@Url.Action("Calendar")'>Calendar</a></li>
               <li><a href='@Url.Action("MyPlans")'>My Plans</a></li>
            </div>
            <div>
               <li><a href="">Request demo</a></li>
               <li><a href="">xprience@gmail.com</a></li>
               <li><a href="">In x</a></li>
            </div>
         </ul>
         <p>© 2024 Xprience. All rights reserved.</p>
      </div>
   </footer>
   <script src="~/lib/jquery/dist/jquery.min.js"></script>
   <script src="~/js/likePlan.js"></script>
   @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
