<link rel="stylesheet" href="~/css/config.css" />
<nav class="sidebar">
   <div class="profile">
      <img
                  src="https://t4.ftcdn.net/jpg/03/49/49/79/360_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.webp"
                  alt="Avatar"
                  alt="Avatar"
                  class="sidebar-avatar"
               />
               <h3 style="text-transform: capitalize;">@ViewBag.user.username</h3>
            </div>
            <ul class="menu">
                <li><a href="#" class="active">Profile</a></li>
                <li><a href='@Url.Action("ConfigurationConfiguration")'>Configuration</a></li>
                <li><a href='@Url.Action("ConfigurationNoti")'>Notifications</a></li>
                <li><a href='@Url.Action("ConfigurationLang")'>Language & region</a></li>
            </ul>
</nav>
<form class="main-content">
   <h1>Profile</h1>
   <div class="profile-settings">
      <div class="input-group profile-photo-name">
         <!-- Espacio para foto circular y nombre -->
         <img
                     src=""
                     alt="Añadir foto"
                     class="profile-photo"
                  />
                  <div class="name-input">
                     <label for="name" style="text-transform: capitalize;">@ViewBag.user.username</label>
                     <p>@ViewBag.username</p>
                     <a href="#" class="add-photo-link">Upload photo</a>
                  </div>
               </div>
               <br>
               <label for="username">Change Username</label>
               <input id="username" type="text" name="username" placeholder="Change Username" value="@ViewBag.user.username" class="settingsInput"/>
               <hr />
               <div class="input-group">
                  <label for="email">Change Email</label>
                  <input id="email" type="text" name="email" placeholder="Change Email" value="@ViewBag.user.mail" class="settingsInput"/>
                  <p>@ViewBag.user.mail</p>
               </div>
               <hr />

               <div class="input-group">
                  <label for="2fa">A2F</label>
                  <p>Coming soon</p>
                  <input type="checkbox" id="2fa" disabled />
               </div>
               <hr />
               <div class="input-group">
                  <label>Support</label>
                  <p>
                     Access to Support to solve problems or recover your
                     account.
                  </p>
               </div>
               <button class="delete-account">Delete my account</button>
   </div>
   <input type="submit" class="button" value="Save" />
</form>