            <section class="box col">
               <h1>
                  Think big.<br />Create
                  <span class="xColored">plans</span> easily.
               </h1>
               <p>
                  Xprience simplifies outing planning, offering a comprehensive
                  platform for choosing activities, booking transportation, and
                  managing costs. Our mission is to free users from
                  organizational stress to maximize their enjoyment of each
                  experience.
               </p>
               <a href='@Url.Action("SignUp")' class="button">Get started</a>
            </section>
            <h4 class="rp">Categories</h4>
            <div class="containerNowWidth">
               <div class="card2 categorieCard notWidth" style="display: inline-block;">
                  <img src="~/img/cat3.png" alt="" />
                  <div>
                     <h2>Entertainment.</h2>
                     <p>Laughter, pure fun</p>
                     <a href='@Url.Action("Create", new {categorie="Entertainment"})' id="Entertainment">Add</a>
                  </div>
               </div>
               <div class="card2 categorieCard notWidth" style="display: inline-block;">
                  <img src="~/img/cat2.png" alt="" />
                  <div>
                     <h2>Gastronomy.</h2>
                     <p>Bold flavors, fresh ingredients.</p>
                     <a href='@Url.Action("Create", new {categorie="Gastronomy"})' id="Gastronomy">Add</a>
                  </div>
               </div>
               <div class="card2 categorieCard notWidth" style="display: inline-block;">
                  <img src="~/img/cat1.png" alt="" />
                  <div>
                     <h2>Ambiental.</h2>
                     <p>Soft light, fresh air</p>
                     <a href='@Url.Action("Create", new {categorie="Ambiental"})' id="Ambiental">Add</a>
                  </div>
               </div>
               <div class="card2 categorieCard notWidth" style="display: inline-block;">
                  <img src="~/img/cat4.png" alt="" />
                  <div>
                     <h2>Relax.</h2>
                     <p>Deep peace, total relaxation.</p>
                     <a href='@Url.Action("Create", new {categorie="Relax"})' id="Relax">Add</a>
                  </div>
               </div>
            </div>
            <section class="box imgbg col">
               <div>
                  <h1>Can't find <span class="xColored">where</span> to go?</h1>
                  <p>
                     Enhance your free time with Xprience. Transform the
                     organization of common outings into extraordinary
                     experiences efficiently!
                  </p>
                  <a href='@Url.Action("SignUp")' class="button">More</a>
               </div>
               <img src="img/wheretogo.png" alt="" />
            </section>
            <!-- <h4 class="rp">Ranking plans</h4>
            <section class="cardContainer">
               <div class="card">
                  <img src="" alt="" />
                  <div class="row">
                     <h3>Title</h3>
                     <span class="stars">4.7</span>
                  </div>
                  <p class="desc">The coffee with the best dedication.</p>
                  <div class="row">
                     <p class="people">For 2 people</p>
                     <button>
                        <img src="img/bookmark.svg" alt="Save" />
                     </button>
                  </div>
               </div>
               <div class="card">
                  <img src="" alt="" />
                  <div class="row">
                     <h3>Title</h3>
                     <span class="stars">4.7</span>
                  </div>
                  <p class="desc">The coffee with the best dedication.</p>
                  <div class="row">
                     <p class="people">For 2 people</p>
                     <button>
                        <img src="img/bookmark.svg" alt="Save" />
                     </button>
                  </div>
               </div>
               <div class="card">
                  <img src="" alt="" />
                  <div class="row">
                     <h3>Title</h3>
                     <span class="stars">4.7</span>
                  </div>
                  <p class="desc">The coffee with the best dedication.</p>
                  <div class="row">
                     <p class="people">For 2 people</p>
                     <button>
                        <img src="img/bookmark.svg" alt="Save" />
                     </button>
                  </div>
               </div>
            </section> -->
            <div class="makeMore">
               <p>Make more with xprience</p>
               <div></div>
               <div>
                  <div></div>
                  <div></div>
                  <div></div>
               </div>
            </div>