<section class="folderSection">
    <h1>Folders</h1>
    <div class="folders">
        <a href='@Url.Action("ViewFolder", new { idFolder = -1 })' style="all:unset; cursor:pointer;">
            <div class="folder">
                <div class="imgContainer">
                    @if (ViewBag.created[0].fsq_ids.Split(";").Length >= 1)
                    {

                            <img src='@Url.Action("GetRawImage", new { id = ViewBag.created[0].fsq_ids.Split(";")[0].Split(",")[0] })'
                                alt="">
                    }
                    @if (ViewBag.created[0].fsq_ids.Split(";").Length >= 2)
                    {
                            <img src='@Url.Action("GetRawImage", new { id = ViewBag.created[0].fsq_ids.Split(";")[1].Split(",")[0] })'
                                alt="">
                    }
                    @if (ViewBag.created[0].fsq_ids.Split(";").Length >= 3)
                    {
                            <img src='@Url.Action("GetRawImage", new { id = ViewBag.created[0].fsq_ids.Split(";")[2].Split(",")[0] })'
                                alt="">
                    }
                </div>
                <h2>Created</h2>
            </div>
        </a>
        <form action='@Url.Action("CreateFolder")' method="POST" class="createFolderForm" >
            <input type="text" name="folderName" class="largeInput" />
            <br>
            <select name="plan">
                <option disabled>Select an option</option>
                @foreach (Plan p in ViewBag.created)
                {
                    <option value="@p.id">@p.name</option>
                }
            </select>
            <br>
            <input type="submit" />
        </form>
    </div>
</section>